@font-face {
  font-family: "iconfont"; /* Project id 4429214 */
  src: url('//at.alicdn.com/t/c/font_4429214_2rhhj9f0luq.woff2?t=1718558758438') format('woff2'),
       url('//at.alicdn.com/t/c/font_4429214_2rhhj9f0luq.woff?t=1718558758438') format('woff'),
       url('//at.alicdn.com/t/c/font_4429214_2rhhj9f0luq.ttf?t=1718558758438') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tiaozhuanrizhi:before {
  content: "\e639";
}

.icon-guanbi:before {
  content: "\e600";
}

.icon-xinjian:before {
  content: "\e650";
}

.icon-dakaiwenjianjia:before {
  content: "\e6bc";
}

.icon-baocun:before {
  content: "\ec09";
}

.icon-huowudui:before {
  content: "\ec89";
}

.icon-yunhang:before {
  content: "\e6c1";
}

.icon-tuichu:before {
  content: "\e60f";
}

.icon-huitui:before {
  content: "\e60b";
}

.icon-taicihuashu:before {
  content: "\e674";
}

.icon-shanchu:before {
  content: "\e617";
}

.icon-bianji:before {
  content: "\e610";
}

.icon-tianjia:before {
  content: "\e60c";
}

.icon-24gl-branches:before {
  content: "\e99b";
}

.icon-xuanze:before {
  content: "\e647";
}

.icon-zhankai:before {
  content: "\e668";
}

.icon-shouqi:before {
  content: "\e612";
}

.icon-kongwenjianjia-01:before {
  content: "\e661";
}

.icon-wenjianjia:before {
  content: "\ec17";
}

.icon-shipin:before {
  content: "\e61e";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-yinpin:before {
  content: "\e73a";
}
